<!DOCTYPE html>
{% load static %}

<head xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Events Booking</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/add_event.css' %}">
</head>
<body class="bg-primary">
<div class="container-fluid header text-center bg-success">
  <h1 style="color: white;">Events Booking</h1>
</div>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 box bg-success">
      <center><h2 class="bg-danger" style="color: white; margin-right:30px; ">Events Booking Details</h2></center>
      <span style="font-size:18px">{{ status }}</span>

      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="inputbox">
            <form action="{% url 'scmapp:db_ground_booking' %}" method="post">
              {% csrf_token %}
               Name of event<br>
              <input type="text" name="name" autocomplete="off" required><br>

<!--              Mobile<br>-->
<!--              <input type="text" name="mobile" minlength="10" maxlength="10" autocomplete="off" pattern="[6-9]{1}[0-9]{9}" title="Numbers only" required><br>-->

              Date<br>
              <input type="date" name="date" min="{{ date }}" autocomplete="off" required><br>

              Time<br>
              <input type="time" name="time" min="06:00" max="18:00" required>

              <div class="footer">
                <input type="reset" value="Reset" name="submit">
                <input type="submit" value="Book" name="submit">
              </div>

            </form>
          </div>
        </div>
      </div>
      <a href="{% url 'scmapp:user_home' %}" style="color: white;">Back</a>
    </div>
  </div>
</div>

</body>



</html>
